<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appender console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="${log.pattern}" />
		</layout>
	</appender>
	
	
	<!--Appender file: esup-activ-bo.log  -->
	<appender name="fileAppenderEsup-activ-bo" class="org.apache.log4j.FileAppender" >
		<param name="file" value="${log.file}"/>
		<param name="MaxFileSize" value="${log.maxFileSize}" />
        <param name="MaxBackupIndex" value="${log.maxBackupIndex}" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="${log.pattern}" />
        </layout>
	</appender>
	
	
	<!-- Appender file: les messages de type info de la classe  org.esupportail.activbo.domain.LdapImpl seront envoyés dans le fichier esup-activ-bo-modifiedDataFile.log -->
	<appender name="fileAppenderModifiedData" class="org.apache.log4j.FileAppender" >
		<param name="file" value="${log.file.modifiedData}"/>
		<param name="MaxFileSize" value="${log.file.modifiedData.maxFileSize}" />
        <param name="MaxBackupIndex" value="${log.file.modifiedData.maxBackupIndex}" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="${log.pattern}" />
        </layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="INFO" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter"/>
	</appender>
	<!-- Les messages de niveau "debug" et + des classes org.esupportail.activbo.domain.LdapImpl&org.esupportail.activbo.domain.KerbLdapImpl seront également afficher à la console  -->
	<logger name="org.esupportail.activbo.domain.LdapImpl">
	    <level value="DEBUG" />		
		<appender-ref ref="fileAppenderModifiedData" />
	</logger>
	<logger name="org.esupportail.activbo.domain.KerbLdapImpl">
	    <level value="DEBUG" />		
		<appender-ref ref="fileAppenderModifiedData" />
	</logger>
	
		
	<logger name="org.esupportail.activbo" additivity="false">
	    <level value="${log.level}" />		
		<appender-ref ref="fileAppenderEsup-activ-bo" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.esupportail.commons" additivity="false">
	    <level value="INFO" />
	    <appender-ref ref="fileAppenderEsup-activ-bo" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.esupportail.portal.ws.client.support.uportal" additivity="false">
	    <level value="ERROR" />	
	    <appender-ref ref="fileAppenderEsup-activ-bo" />	
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework.ldap.support" additivity="false">
	    <level value="ERROR" />	
	    <appender-ref ref="fileAppenderEsup-activ-bo" />	
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.esupportail.commons.services.ldap" additivity="false">
	    <level value="WARN" />	
	    <appender-ref ref="fileAppenderEsup-activ-bo" />	
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.esupportail.commons.services.i18n" additivity="false">
	    <level value="WARN"/> 
	    <appender-ref ref="fileAppenderEsup-activ-bo" />
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<root>
		<level value="INFO" />	
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppenderEsup-activ-bo" />
	</root>
</log4j:configuration>
