<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appender console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Appender file: les messages de type info de la classe  org.esupportail.activbo.domain.LdapImpl seront envoyés dans le fichier fileLog -->
	<appender name="fileAppender" class="org.apache.log4j.FileAppender" >
		<param name="file" value="${log.file.modifiedData}"/>
		<param name="MaxFileSize" value="${log.file.modifiedData.maxFileSize}" />
        <param name="MaxBackupIndex" value="${log.file.modifiedData.maxBackupIndex}" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
        </layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="INFO" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter"/>
	</appender>
	<!-- Les messages de niveau "debug" et + des classes org.esupportail.activbo.domain.LdapImpl&org.esupportail.activbo.domain.KerbLdapImpl seront également afficher à la console  -->
	<logger name="org.esupportail.activbo.domain.LdapImpl">
	    <level value="DEBUG" />		
		<appender-ref ref="fileAppender" />
	</logger>
	<logger name="org.esupportail.activbo.domain.KerbLdapImpl">
	    <level value="DEBUG" />		
		<appender-ref ref="fileAppender" />
	</logger>
	
	
	
	<logger name="org.esupportail" additivity="false">
	    <level value="INFO" />		
		<appender-ref ref="consoleAppender" />
	</logger> 
	
	<logger name="org.hibernate" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="net.sf.ehcache" additivity="false">
	    <level value="INFO" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="org.springframework" additivity="false">
	    <level value="INFO" />		
		<appender-ref ref="consoleAppender" />
	</logger>	
	<logger name="org.springframework.aop.framework" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework.beans.factory.xml" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework.core.CollectionFactory" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework.orm" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework.jdbc" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger> 
	
	<logger name="org.esupportail.commons.services.exceptionHandling.CachingEmailExceptionServiceImpl" additivity="false">
	    <level value="WARN" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="org.esupportail.activbo" additivity="false">
	    <level value="DEBUG" />		
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<root>
		<level value="INFO" />	
		<appender-ref ref="consoleAppender" />
	</root>
</log4j:configuration>
