.demo {
  margin:0;
  padding:1.5em 1.5em 0.75em;
  border:1px solid #ccc;
  position:relative;
  overflow:hidden
}
.collapse p {padding:0 10px 1em}

#switch, .switch {margin-bottom:5px; text-align:right}

.expand{padding-bottom:.75em;width:50%;}

/* --- Links  --- */
a:link, a:visited {
  border:1px dotted #ccc;
  border-width:0 0 1px;
  text-decoration:none;
  color:blue;
  border-style:solid;
  background-color:#b6ecff
}
a:hover, a:active, a:focus {
  border-style:solid;
  background-color:#c9f1a5;
  outline:0 none
}
a:active, a:focus {
  color:red;
}
.expand a {
  display:block;
  padding:3px 10px
}
.expand a:link, .expand a:visited {
  border-width:1px;
  background-image:url("/media/images/arrow-down.gif"),url("/media/images/idcback2.jpg");
  background-repeat:no-repeat,repeat;
  background-position:5px 50%;
  color : white;
  padding-left: 25px;
  border-bottom: 1px solid black !important;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  -moz-border-radius:4;
}
.expand a:hover, .expand a:active, .expand a:focus {
  text-decoration:underline
}
.expand a.open:link, .expand a.open:visited {
  border-style:solid;
  /*background:#c9f1a5 url(/media/arrow-up.gif) no-repeat 98% 50%*/
  background-image:url(/media/images/arrow-up.gif),url(/media/images/idcback1.jpg);
  background-repeat:no-repeat,repeat;
  background-position:5px 50%;
  color : white;
  padding-left: 25px;
  border-bottom: 1px solid black !important;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  -moz-border-radius:4;
  
}