.demo {
  margin:0;
  padding:1.5em 1.5em 0.75em;
  border:1px solid #ccc;
  position:relative;
  overflow:hidden
}
.collapse p {padding:0 10px 1em}


div.mainBlock { display: inline-block; }

#switch, .switch {margin-bottom:5px; text-align:right}

.expand{padding-bottom:.75em; }

.expand a {
  display:block;
  padding:3px 10px
}
.expand a:link, .expand a:visited {
  border-width:1px;
  background-image:url("images/arrow-down.gif"),url("images/idcback2.jpg");
  background-repeat:no-repeat,repeat;
  background-position:5px 50%;
  color : white;
  padding-left: 25px;
  border-bottom: 1px solid black !important;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  -moz-border-radius:4;
}
.mainBlock .expand a:hover, .expand a:active, .expand a:focus {
  color: white !important;
  text-decoration:underline
}
.expand a.open:link, .expand a.open:visited {
  border-style:solid;
  /*background:#c9f1a5 url(arrow-up.gif) no-repeat 98% 50%*/
  background-image:url(images/arrow-up.gif),url(images/idcback1.jpg);
  background-repeat:no-repeat,repeat;
  background-position:5px 50%;
  padding-left: 25px;
  border-bottom: 1px solid black !important;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  -moz-border-radius:4;
  
}