 .mainBlock td {
    padding-right: 0.5em;
}
 
 .firstColumn {
 vertical-align: top;
}
 .secondColumn {
 vertical-align: center;
}
 
 .thirdColumn {
   vertical-align: top;
}

.thirdColumn > img, .thirdColumn > div {
    float: left;
}
 
 .fourthColumn {
 vertical-align: top;
} 
 
 .viewCol1 {
  vertical-Align: top;
}
 
 .viewCol2 {
}
   
.labeltexttoptrue{
	font-weight:bold;
	vertical-align:top;
}

.labeltexttopfalse {
font-weight:bold;
}

.labeltext{
font-weight:bold;
}

.constraint{
color: gray;
   font-family: Verdana,Impact,"Times New Roman",serif;
   font-size: 0.8em;
   text-align: left;
}


.digestConstraint{
color: red;
   font-family: Verdana,Impact,"Times New Roman",serif;
   font-size: 0.8em;
   text-align: left;
}
/*
.pc .helppanel {
    margin: 100px 0 0;
    padding-left: 18px;
    border-left: 1px solid #005bc3;
}
 */

.sidenav > li > a {
   border: 1px solid #e5e5e5;
   display: block;
   margin: 0 0 -1px;
   padding: 8px 14px !important;
}
.nav-stacked > li + li {
    margin-top: 0 !important;
}

.sidenav .glyphicon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

.sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.glyphicon  {
    margin-right: 3px;
}

.breadcrumbVertical {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: none outside none;
    padding: 8px 15px;
}
 
 .labelOverride label {
    display: inline-block;
    font-weight: normal !important;
    margin-bottom: 5px;
}

.footer {
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align : bottom;

}

