 /* common to all columns*/
    .firstColumn {
    vertical-Align: top;
    padding-top: 6px;
    }
    .firstColumn#sizeEx {
    vertical-align: top;
    }
    .secondColumn {
    vertical-align: center;
    }
    
    .thirdColumn {
      vertical-align: top;
      padding-top: 6px;
    }
    
    .thirdColumn img{   
    float: left;
    border: 0;
    } 
    .fourthColumn {
    vertical-align: top;
    padding-top: 6px;
    } 
    
    .output{
     position:relative;top:0.2em;
    }
    
    .viewCol1 {
     vertical-Align: top;
     padding-top: 6px;
    }
    
    .viewCol2 {
     padding-top: 6px;
    }
    
    
    .firstStepImage2fleches {
    height: 53px;
    width: 745px;
    background: url('/media/images/bandeau-activation-2fleches01-ent.png') no-repeat left top;
    }
    .secondStepImage2fleches {
    height: 53px;
	width: 745x;
    background: url('/media/images/bandeau-activation-2fleches02-ent.png') no-repeat left top;
    }
        
    .firstStepImage {
    height: 53px;
    width: 780px;
    
    background: url('/media/images/bandeau-activation-4fleches01-ent.png') no-repeat left top;
    }
    .secondStepImage {
    height: 53px;
    width: 780px;
    background: url('/media/images/bandeau-activation-4fleches02-ent.png') no-repeat left top;
    }
    .thirdStepImage {
    height: 53px;
    width: 780px;
    background: url('/media/images/bandeau-activation-4fleches03-ent.png') no-repeat left top;
    }
    .fourthStepImage {
    height: 53px;
    width: 780px;
    background: url('/media/images/bandeau-activation-4fleches04-ent.png') no-repeat left top;
    }
    .firstStepImage5fleches {
    height: 53px;
    width: 930px;
    background: url('/media/images/bandeau-activation-5fleches01-ent.png') no-repeat left top;
    }
    .secondStepImage5fleches {
    height: 53px;
	width: 930px;
    background: url('/media/images/bandeau-activation-5fleches02-ent.png') no-repeat left top;
    }
    .thirdStepImage5fleches {
    height: 53px;
    background: url('/media/images/bandeau-activation-5fleches03-ent.png') no-repeat left top;
    }
    .fourthStepImage5fleches {
    height: 53px;
	width: 930px;
    background: url('/media/images/bandeau-activation-5fleches04-ent.png') no-repeat left top;
    }
    .fifthStepImage5fleches {
    height: 53px;
    width: 930px;
    background: url('/media/images/bandeau-activation-5fleches05-ent.png') no-repeat left top;
    }
    .firstStepImage3fleches {
    height: 53px;
    width: 600px;
    background: url('/media/images/bandeau-activation-3fleches01-ent.png') no-repeat left top;
    }
    .secondStepImage3fleches {
    height: 53px;
    width: 600px;
    background: url('/media/images/bandeau-activation-3fleches02-ent.png') no-repeat left top;
    }
    .thirdStepImage3fleches {
    height: 53px;
   	width: 600px;
    background: url('/media/images/bandeau-activation-3fleches03-ent.png') no-repeat left top;
    }
    
    ul.processSteps {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	font-size:11px;
	}
	ul.processSteps h6 {
	color:#fff;
	font-size:20px;
	font-style:bold;
	font-family:arial;
	margin:0px !important;
	padding:0px !important;
	line-height:10px;
	
	}
	ul.processSteps li  {
	display: inline;
	float: left;
	color: #b6ecff;
	padding-left:43px !important;
	}
	ul.processSteps li.homeStep {
	padding-left:0px !important;
	}
	ul.processSteps li.firstStep {
	padding-top:10px !important;
	width:135px !important;
	}
	ul.processSteps li.secondStep {
	padding-top:10px !important;
	width:130px !important;
	}
    ul.processSteps li.thirdStep {
	padding-top:10px !important;
	width:128px !important;
	}
    ul.processSteps li.fourthStep {
	padding-top:10px !important;
	width:128px !important;
	}
    ul.processSteps li.fifthStep {
	padding-top:10px !important;
	width:128px !important;
    }
    ul.processSteps li.currentTab {
	color: #c9f1a5;
	font-weight: bold;
	padding-top:10px !important;
	width:128px !important;
	}
	ul.processSteps li.currentTabModification{
	color: #c9f1a5;
	font-weight: bold;
	padding-top:10px !important;
	width:300px !important;
	}
	ul.processSteps li.firstImage2 {
	padding-top:10px !important;
	width:300px !important;
	}
	ul.processSteps li.currentTabLogin {
	color: #c9f1a5;
	font-weight: bold;
	padding-top:10px !important;
	width:135px !important;
	}
	
	.labeltexttoptrue{
	font-weight:bold;
	font-size:12px;
	vertical-align:top;
	}
	.labeltexttopfalse {
	font-weight:bold;
	font-size:12px;
	}
	
	.commandLink a, a.commandLink{
  	background: transparent !important;
    font-size: inherit !important;
    color: inherit !important;
    text-decoration: none !important;
    border: 0px none transparent !important;
    cursor:pointer;
	}
	.commandLink a:hover, a.commandLink:hover{
    font-weight:bold; !important;    
	}
	
	.legendCol3{
	 padding-left:1em;
	}
	
	.legend {
		width:30%;
		margin: 1em;
	}
	
	option{
	max-width:60em;
	overflow:hidden;
	text-overflow:ellipsis;
	}
	