 .mainBlock td {
    padding-right: 0.5em;
}
 
 .firstColumn {
 vertical-align: top;
}
 .secondColumn {
 vertical-align: center;
}
 
 .thirdColumn {
   vertical-align: top;
}

.thirdColumn > img, .thirdColumn > div {
    float: left;
}
 
 .fourthColumn {
 vertical-align: top;
} 
 
 .viewCol1 {
  vertical-Align: top;
}
 
 .viewCol2 {
}
   
.labeltexttoptrue{
	font-weight:bold;
	vertical-align:top;
}

.labeltexttopfalse {
font-weight:bold;
}

.labeltext{
font-weight:bold;
}

.constraint{
color: gray;
   font-family: Verdana,Impact,"Times New Roman",serif;
   font-size: 0.8em;
   text-align: left;
}


.digestConstraint{
color: red;
   font-family: Verdana,Impact,"Times New Roman",serif;
   font-size: 0.8em;
   text-align: left;
}
/*
.pc .helppanel {
    margin: 100px 0 0;
    padding-left: 18px;
    border-left: 1px solid #005bc3;
}
 */

.sidenav > li > a {
   border: 1px solid #e5e5e5;
   display: block;
   margin: 0 0 -1px;
   padding: 8px 14px !important;
}

.sidenav li.active a {
background-color: #428bca !important;
}

.nav-stacked > li + li {
    margin-top: 0 !important;
}

.sidenav .glyphicon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

.glyphicon  {
    margin-right: 3px;
}


/* override uportal fss framework shit */
.sidenav { margin-left: 0; margin-right: 0; }
.sidenav li { list-style: none; }
.sidenav li.active a { color: white !important; }
.sidenav, #page { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; }
.fl-theme-mist th { background-color: #eaeaea !important; border-left: none; border-right: none; }
.container { background: white; }

 .labelOverride label {
    display: inline-block;
    font-weight: normal !important;
    margin-bottom: 5px;
}

.footer {
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align : bottom;

}

/* override boostrap */
.pc .progress {height: 30px;!important;}
.pc .progress-bar {font-size: 14px;
    line-height: 30px;!important;
}
.pc .breadcrumb { background-color: white;margin-bottom: 10px;
	border-bottom: 1px solid #eee;!important;}

.pc .page-header {
    border-bottom: 1px solid #eee;
    margin: 0px 0px 0px;
    padding-bottom: 9px;
}

